.app {
margin: 0px;
padding: 0px;
height: 100vh;
width: 100vw;
overflow: hidden;
}

.header {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 6.7%;
  width: 100%;
  color: rgba(0, 0, 0, .87);
  background-color: PINK;
}

.body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 86.6vh;
  width: 100vw;
  overflow: hidden;
}

.left {
  order: 1;
  flex: 1;
  height: 100%;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
  width: calc(50vw - 480px);
  background-color: RED;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  order: 2;
  height: 100%;
  width: 960px;
  background-color: GREEN;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noMargin {
  margin: 0;
}

.right {
  order: 3;
  flex: 1;
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: calc(50vw - 480px);
  background-color: BLUE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  height: 6.7%;
  width: 100%;
  font-size: small;
  text-align: center;
  line-height: 6.7vh;
  color: rgba(0, 0, 0, .87);
  background-color: GREY;
}

.button {
  color: rgba(0, 0, 0, .87);
  border-radius: 150px;
  line-height: 150px;
  font-size: medium;
  width: 150px;
  height: 150px;
  background-color: WHITE;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.multiplier {
  order: 1;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 150px;
  line-height: 150px;
  font-size: medium;
  width: 150px;
  height: 150px;
  background-color: GREY;
  text-align: center;
  position: fixed;
  bottom: calc(50% - 75px)
}

.autoclick {
  order: 3;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 150px;
  line-height: 150px;
  font-size: medium;
  width: 150px;
  height: 150px;
  background-color: GREY;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: calc(50% - 75px);
}

.autocounter {
  order: 3;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 50px;
  font-size: medium;
  width: 150px;
  min-height: 71px;
  background-color: White;
  position: fixed;
  bottom: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.price {
  order: 1;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  font-size: medium;
  width: 150px;
  min-height: 71px;
  background-color: White;
  position: fixed;
  top: 25%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.multprice {
  order: 1;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  font-size: medium;
  width: 150px;
  min-height: 71px;
  background-color: White;
  text-align: center;
  position: fixed;
  top: 25%;
}
.reset {
  order: 1;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 20px;
  font-size: medium;
  width: 150px;
  height: 30px;
  line-height: 30px;
  background-color: White;
  align-self: center;
  text-align: center;
  position: fixed;
  left: calc(25vw - 315px);
}
.totals {
  order: 2;
  color: rgba(0, 0, 0, 0.87);
  font-size: large;
  width: 150px;
  height: 30px;
  line-height: 30px;
  background-color: PINK;
  text-align: center;
  margin: auto;
}
